# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Distribution / packaging
.Python
venv/
.venv/
ENV/
env/

# Virtual environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*
profile_default/
ipython_config.py

# Outputs
/output/
/output/*

# IDE 
.idea/
.vscode/
*.swp
*.swo 